<!DOCTYPE html>
<html>
<head>
    <title>Downloaded Songs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">DAFTAR LAGU</h1>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Judul Lagu</th>
                    <th>Oleh</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if downloaded_songs %}
                    {% for song, artist, song_id in downloaded_songs %}
                        <tr>
                            <td>{{ song }}</td>
                            <td>{{ artist }}</td>
                            <td>
                                <a href="../../albumdansong/detail_lagu/{{ song_id }}" class="btn btn-primary">Lihat</a>
                                <form method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="song_id_to_delete" value="{{ song_id }}">
                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">Belum Ada Lagu yang Diunduh</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{% url 'marmut_db:show_main' %}" class="btn btn-primary">Kembali</a>
    </div>
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>