<nav>
    <ul class="navbar">
        <li><a href="{% url 'marmut_db:show_main' %}">Dashboard</a></li>
        
        {% if request.session.username %}
            {% if 'Artist' in request.session.roles or 'Songwriter' in request.session.roles or 'Podcaster' in request.session.roles or 'Akun' in request.session.roles %}
            <li><a href="">Chart</a></li>
            <li><a href="">Search Bar</a></li>
            <li><a href="{% url 'kelola_playlist:show_playlists' %}">Kelola Playlist</a></li>
            <li><a href="">Langganan Paket</a></li>
            {% endif %}
        
            {% if request.session.premium_status == 'Premium' %}
            <li><a href="">Downloaded Songs</a></li>
            {% endif %}

            {% if 'Podcaster' in request.session.roles %}
            <li><a href="">Kelola Podcast</a></li>
            {% endif %}
        
            {% if 'Artist' in request.session.roles or 'Songwriter' in request.session.roles %}
            <li><a href="">Kelola Album & Songs</a></li>
            {% endif %}
        
            {% if 'Label' in request.session.roles %}
            <li><a href="">Kelola Album</a></li>
            {% endif %}
       
            {% if 'Artist' in request.session.roles or 'Songwriter' in request.session.roles or 'Label' in request.session.roles %}
            <li><a href="">Cek Royalti</a></li>
            {% endif %}
        
        <li><a href="{% url 'marmut_db:logout' %}">Logout</a></li>
        
        {% else %}        
        <ul class="navbar-right">
            <li><a href="{% url 'marmut_db:login' %}">Login</a></li>
            <li><a href="{% url 'marmut_db:register' %}">Register</a></li>
        </ul>
        {% endif %}
       
    </ul>
</nav>

<style>
    /* Your existing CSS styles */
    body {
    margin: 0;
    padding: 0;
}


    nav ul.navbar {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: yellow;
    }

    nav ul.navbar li {
        margin-right: 20px;
    }

    nav ul.navbar li:last-child {
        margin-right: 0;
    }

    nav ul.navbar li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 25;
    }

    .navbar-right {
    list-style-type: none;
    padding: 0;
    display: flex; /* Arranges items in a row */
}

.navbar-right li {
    margin-right: 20px;
}

.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-right li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
</style>