<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Register User</title>
    <style>
        .form-container {
            margin-top: 50px;
        }
        .card-header {
            background-color: #c3bc5b;
            color: white;
        }
        .btn-primary {
            background-color: #78800b;
            border: none;
        }
        .form-check-label {
            margin-left: 1.25em;
        }
    </style>
</head>
<body>
    <div class="container form-container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">Register User</div>
                    <div class="card-body">
                        <form method="post" action="{% url 'marmut_db:register_user' %}">
                            {% csrf_token %}
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" required class="form-control"><br>
                
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" required class="form-control"><br>
                
                            <label for="nama" class="form-label">Nama:</label>
                            <input type="text" id="nama" name="nama" required class="form-control"><br>
                
                            <label for="gender" class="form-label">Gender:</label>
                            <select id="gender" name="gender" class="form-control">
                                <option value="female">Perempuan</option>
                                <option value="male">Laki-laki</option>
                            </select><br>
                            
                            <label for="tempat_lahir" class="form-label">Tempat Lahir :</label>
                            <input type="text" id="tempat_lahir" name="tempat_lahir" required class="form-control"><br>
                
                            <label for="tanggal_lahir" class="form-label">Tanggal lahir:</label>
                            <input type="date" id="tanggal_lahir" name="tanggal_lahir" required class="form-control"><br>
                
                            <label for="kota_asal" class="form-label">Kota asal:</label>
                            <input type="text" id="kota_asal" name="kota_asal" required class="form-control"><br>
                
                            <label class="form-label">Role:</label><br>
                            <input type="checkbox" id="podcaster" name="is_podcaster" value=True class="form-check-input">
                            <label for="podcaster" class="form-check-label">Podcaster</label><br>
                
                            <input type="checkbox" id="artist" name="is_artist" value=True class="form-check-input">
                            <label for="artist" class="form-check-label">Artist</label><br>
                
                            <input type="checkbox" id="songwriter" name="is_songwriter" value=True class="form-check-input">
                            <label for="songwriter" class="form-check-label">Songwriter</label><br><br>
                            <!-- <div class="form-group">
                                <label for="id_email">Email:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                <label for="id_nama">Name:</label>
                                {{ form.nama }}
                            </div>
                            <div class="form-group">
                                <label for="id_gender">Gender:</label>
                                {{ form.gender }}
                            </div>
                            <div class="form-group">
                                <label for="id_tempat_lahir">Birthplace:</label>
                                {{ form.tempat_lahir }}
                            </div>
                            <div class="form-group">
                                <label for="id_tanggal_lahir">Birthdate:</label>
                                {{ form.tanggal_lahir }}
                            </div>
                            <div class="form-group">
                                <label for="id_kota_asal">City:</label>
                                {{ form.kota_asal }}
                            </div>
                            <div class="form-group">
                                <label for="id_role">Role:</label><br>
                                {% for checkbox in form.role %}
                                    <div class="form-check">
                                        {{ checkbox.tag }}
                                        <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div> -->
                                <!-- {% endfor %} -->
                            <!-- </div> --> 
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
